<head> <!-- Общяя головная часть разметки как и любая другая может быть вынесена из ejs файла в другой и после импортирована -->
    <meta charset="UTF-8">
    <title><%= title %></title> <!--переменная может быть создана на сервере и с помощью res.render в формате JSON передана в EJS код (либо в формате простой переменной как сейчас, хотя эта переменная тоже упакована в json)-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>