<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> <!-- Подключение разметки из другого EJS файла -->
<body>
  <%- include('./partials/nav.ejs') %> <!-- Подключение разметки из другого EJS файла -->
  <h1>Personal Blog</h1>
  <p>Build with Node.js Express, EJS, MongoDB</p>
</body>
</html>